@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: flex;
    height: 100vh;
    position: relative;
}
/* nav start */

.wrapper .side-nav{
    width: 400px;
    height: 100%;
}

.logo{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #435ebe;
}

.nav-top-container{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-item-container{
    width: 100%;
    padding: 0 2rem;
}

.nav-item-container a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: #666;
}

.nav-item-container a.active{
    background-color: #435ebe;
    color: white;
}

.nav-item-container a i,
.nav-item-container form button i{
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.nav-item-container form button{
    border: none;
    width: 100%;
    text-align: start;
    border-radius: 10px;
    color: #666;
    background-color: white;
}

/* nav end */

.wrapper .main{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}



@media (min-width: 768px){
    .wrapper .side-nav.active{
        display: none;
    }
    #close-nav{
        display: none;
    }
}
@media (max-width: 768px){
    .wrapper .side-nav{
        position: absolute;
        width: 300px;
        left: -300px;
    }
    .wrapper .side-nav.active{
        left: 0px;
    }
}



.calendar .days,
.calendar #dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    margin-bottom: 2px;
}
.calendar .day-name{
    display: block;
    background-color: #f7f7f7;
    color: #999;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar .date{
    display: block;
    background-color: #f7f7f7;
    height: 100px;
    padding: 10px;
    position: relative;
}
.calendar .date:hover{
    background-color: #fff;
}
.calendar .date .name-tag{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: .8rem;
    color: #fff;
    margin: 2px 0;
    /* position: absolute; */
}
.calendar .date .name-tag.success{
    background-color: #0f0;
}
.calendar .date .name-tag.pending{
    background-color: #ff0;
}
.calendar .date .name-tag.reject{
    background-color: #f00;
}
.calendar .calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.cbtn{
    outline: none;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (max-width: 768px){
    .menu-bars{
        display: inline-block;
    }
    .nav-bar{
        left: -250px;
    }
    section{
        margin-top: 5rem;
        margin-left: 0px;
    }
}
