@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    display: flex;
    height: 100vh;
    position: relative;
}
/* nav start */

.wrapper .side-nav{
    width: 400px;
    height: 100%;
}

.logo{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #435ebe;
}

.nav-top-container{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-item-container{
    width: 100%;
    padding: 0 2rem;
}

.nav-item-container a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: #666;
}

.nav-item-container a.active{
    background-color: #435ebe;
    color: white;
}

.nav-item-container a i,
.nav-item-container form button i{
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.nav-item-container form button{
    border: none;
    width: 100%;
    text-align: start;
    border-radius: 10px;
    color: #666;
    background-color: white;
}

/* nav end */

.wrapper .main{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}



@media (min-width: 768px){
    .wrapper .side-nav.active{
        display: none;
    }
    #close-nav{
        display: none;
    }
}
@media (max-width: 768px){
    .wrapper .side-nav{
        position: absolute;
        width: 300px;
        left: -300px;
    }
    .wrapper .side-nav.active{
        left: 0px;
    }
}
